<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="/">Livestream</a>
  <a class="nav-link black" href="/profile">
    <img src="icons/person.svg"/>
    <span id="balance">
      <%= current_user.balance / 60 %>
    </span>
  </a>
</nav>