.black {
  color: black;
  &:hover {
    color: black;
  }
 }

.devise-form {
  max-width: 500px;
  margin-top: 1rem;
}

.devise-form h2 {
  margin-bottom: 1rem;
}

@media (min-width: 640px) {
  #player {
    height: 360px;
    width: 640px;
  }
}

.video-container {
  max-width: 640px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
}

.landing-page {
  height: 100vh;
  background: url("/thunderstorm.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.landing-nav {
  padding-left: 3rem;
  padding-right: 3rem;
  padding-top: 2rem;
  display: flex;
  justify-content: space-between;
  color: white;
}

.cta {
  padding-right: 1rem;
  padding-left: 1rem;
  padding-top: 5rem;
  color: white;
  padding-bottom: 5rem;
  max-width: 640px;
  margin: 0 auto;
}
